<!DOCTYPE html>
<html>
<head>
  <!-- Load CSS styles -->
  <link rel="stylesheet" href="https://designstem.github.io/fachwerk/styles.css">
</head>

<body>
  <!-- Load vendor Javascript -->
  <script src="https://designstem.github.io/fachwerk/vendor.js"></script>
  
  <!-- Load main Javascript file index.js. Note: type="module" is required! -->
  <script src="./index.js" type="module"></script>
  
  <!-- Set up a placholder where framework can display its content -->
  <div id="app"></div>  
</body>

</html>